Machine_Code_branch.txt
Machine_Code.txt
transcript
vsim.wlf
wave.do
wlftrt3f4c
work/_info
work/_vmake
work/@a@l@u/_primary.dat
work/@a@l@u/_primary.dbs
work/@a@l@u/_primary.vhd
work/@a@l@u/verilog.prw
work/@a@l@u/verilog.psm
work/@a@l@u_@decoder/_primary.dat
work/@a@l@u_@decoder/_primary.dbs
work/@a@l@u_@decoder/_primary.vhd
work/@a@l@u_@decoder/verilog.prw
work/@a@l@u_@decoder/verilog.psm
work/@control_@unit/_primary.dat
work/@control_@unit/_primary.dbs
work/@control_@unit/_primary.vhd
work/@control_@unit/verilog.prw
work/@control_@unit/verilog.psm
work/@d@a@t@a_@m@e@m/_primary.dat
work/@d@a@t@a_@m@e@m/_primary.dbs
work/@d@a@t@a_@m@e@m/_primary.vhd
work/@d@a@t@a_@m@e@m/verilog.prw
work/@d@a@t@a_@m@e@m/verilog.psm
work/@data_@path/_primary.dat
work/@data_@path/_primary.dbs
work/@data_@path/_primary.vhd
work/@data_@path/verilog.prw
work/@data_@path/verilog.psm
work/@f@s@m/_primary.dat
work/@f@s@m/_primary.dbs
work/@f@s@m/_primary.vhd
work/@f@s@m/verilog.prw
work/@f@s@m/verilog.psm
work/@l@e@f@t_@s@h@i@f@t@e@r/_primary.dat
work/@l@e@f@t_@s@h@i@f@t@e@r/_primary.dbs
work/@l@e@f@t_@s@h@i@f@t@e@r/_primary.vhd
work/@l@e@f@t_@s@h@i@f@t@e@r/verilog.prw
work/@l@e@f@t_@s@h@i@f@t@e@r/verilog.psm
work/@m@e@m@o@r@y/_primary.dat
work/@m@e@m@o@r@y/_primary.dbs
work/@m@e@m@o@r@y/_primary.vhd
work/@m@e@m@o@r@y/verilog.prw
work/@m@e@m@o@r@y/verilog.psm
work/@m@u@x/_primary.dat
work/@m@u@x/_primary.dbs
work/@m@u@x/_primary.vhd
work/@m@u@x/verilog.prw
work/@m@u@x/verilog.psm
work/@m@u@x4/_primary.dat
work/@m@u@x4/_primary.dbs
work/@m@u@x4/_primary.vhd
work/@m@u@x4/verilog.prw
work/@m@u@x4/verilog.psm
work/@multicycle/_primary.dat
work/@multicycle/_primary.dbs
work/@multicycle/_primary.vhd
work/@multicycle/verilog.prw
work/@multicycle/verilog.psm
work/@multicycle_tb/_primary.dat
work/@multicycle_tb/_primary.dbs
work/@multicycle_tb/_primary.vhd
work/@multicycle_tb/verilog.prw
work/@multicycle_tb/verilog.psm
work/@p@c/_primary.dat
work/@p@c/_primary.dbs
work/@p@c/_primary.vhd
work/@p@c/verilog.prw
work/@p@c/verilog.psm
work/@r@e@g@i@s@t@e@r/_primary.dat
work/@r@e@g@i@s@t@e@r/_primary.dbs
work/@r@e@g@i@s@t@e@r/_primary.vhd
work/@r@e@g@i@s@t@e@r/verilog.prw
work/@r@e@g@i@s@t@e@r/verilog.psm
work/@r@e@g_@f@i@l@e/_primary.dat
work/@r@e@g_@f@i@l@e/_primary.dbs
work/@r@e@g_@f@i@l@e/_primary.vhd
work/@r@e@g_@f@i@l@e/verilog.prw
work/@r@e@g_@f@i@l@e/verilog.psm
work/@s@i@g@n_@e@x@t@e@n@d/_primary.dat
work/@s@i@g@n_@e@x@t@e@n@d/_primary.dbs
work/@s@i@g@n_@e@x@t@e@n@d/_primary.vhd
work/@s@i@g@n_@e@x@t@e@n@d/verilog.prw
work/@s@i@g@n_@e@x@t@e@n@d/verilog.psm
work/_temp/vlog2ac96a
work/_temp/vlog06nviq
work/_temp/vlog8qbzm7
work/_temp/vlog9mr8z2
work/_temp/vlog9yeesd
work/_temp/vlog61qf5d
work/_temp/vlog091n5x
work/_temp/vlog698fd7
work/_temp/vlog827s70
work/_temp/vlogcbh1ae
work/_temp/vlogctekq9
work/_temp/vlogcwe55h
work/_temp/vlogd4jqz7
work/_temp/vlogdnika8
work/_temp/vlogdxakxa
work/_temp/vlogensm5y
work/_temp/vlogfwmbav
work/_temp/vlogic546q
work/_temp/vlogingctn
work/_temp/vlogkajdq0
work/_temp/vlogmigbts
work/_temp/vlogmis62z
work/_temp/vlogqv4yg5
work/_temp/vlogv4a6qx
work/_temp/vlogvy7wrn
work/_temp/vlogwz1rg2
work/_temp/vlogx8b5z7
work/_temp/vlogy1ct9g
work/_temp/vlogykrg7d
work/_temp/vlogzmwm9z
